@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @* <h1 class="m-0">Create /Request Indent</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Company /BU</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- Table Forms -->

    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View company</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body" style="overflow-x:scroll;">


                        <table id="exampla" class="table  table-bordered table-striped ">
                            <thead>
                                <tr >
                                    <th scope="col">Indent No</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Export</th>
                                    <th scope="col">Indent ID</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">BU</th>
                                    <th align="center" scope="col">Enclosure BQQ</th>
                                    <th align="center" scope="col">Enclosure Drawing</th>
                                    <th scope="col">Work Location</th>
                                    <th scope="col">Indent Type</th>
                                    <th scope="col">Type Of Work Details</th>
                                    <th align="center" scope="col">Budget Type</th>
                                    <th scope="col">Rate Proposed</th>
                                    <th scope="col">TAT</th>
                                    <th scope="col">Contractor Name</th>
                                    <th scope="col">Vendor Existing Location</th>
                                    <th align="center" scope="col">Other Remarks</th>
                                    <th align="center" scope="col">Tagged Purchaser</th>
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Approved Date</th>
                                    <th scope="col">Closure Date</th>
                                    <th scope="col">Status</th>
                                </tr>

                            </thead>
                            <tbody>
                                @if (ViewData["IndentMasterReportGrid"] != null)
                                {
                                    @foreach (var data in ViewData["IndentMasterReportGrid"] as IList<CapexSelIndentforListResult>)
                                    {

                                        
                                        <tr >
                                            <td scope="col">@data.IndentID</td>
                                            <td scope="col"> @data.ContractorDetails </td>
                                            <td scope="col">Export</td>
                                            <td scope="col"> @data.IndentID</td>
                                            <td scope="col"> @data.Company </td>
                                            <td scope="col"> @data.BU BU</td>
                                            <td align="center" scope="col"> @data.EnclosureBQQFile </td>
                                            <td align="center" scope="col"> @data.EnclosureDrawingFile </td>
                                            <td scope="col">@data.LocationOfWork</td>
                                            <td scope="col">@data.TypeOfIndent </td>
                                            <td scope="col">@data.TypeOfWorkDetails </td>
                                            <td align="center" scope="col">@data.BudgetType </td>
                                            <td scope="col">@data.RateProposed </td>
                                            <td scope="col">@data.TAT</td>
                                            <td scope="col"> @data.ProposedContractorName </td>
                                            <td scope="col"> @data.VendorExisting_NewForSameLocation </td>
                                            <td align="center" scope="col"> @data.OtherRemarks </td>
                                            <td align="center" scope="col"> @data.TaggedPurchaser </td>
                                            <td scope="col"> @data.CreateDate </td>
                                            <td scope="col"> @data.ApprovedDate </td>
                                            <td scope="col"> @data.exposeDate </td>
                                            <td scope="col">@data.CapexStatus</td>
                                        </tr>
                                    }

                                }

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- End Table Forms -->
    <!-- /.content -->
</div>

<script>

    $('#exampla').dataTable({

    });
</script>




