@using CapExTSVS.Models1;
@using static DataModels.CapExTSDBStoredProcedures;



@model CapExTSVS.Models1.CapexmainRequest;
@{
    ViewData["Title"] = "Home Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                   @* <h1 class="m-0">View Indent</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                       @* <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Indent </li>*@
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">NFA Registration</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->


                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">NFA Registration</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">



                                        <form id="form1" action="/NFA/CapexmainRequest2/" method="post" enctype="multipart/form-data">


                                            <div class="form-group row">


                                                 <div class="col-md-12" style="display:none">
                                                  
                                                    <div class="col-sm-6">
                                                        <input class="form-control" readonly type="text" id="EID" name="EID" >
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <label class="form-label" for="nfa_id">Incent ID:</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" readonly type="text" id="nfa_id" value="@(Model != null ? Model.IndentId : "") " name="IndentId ">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="type">Asset Type *</label>
                                                    <div class="col-sm-12">
                                                        <label>
@*                                                            @(Model.AssetsType.ToUpper()=="" && Model.AssetsType.ToUpper()==null ? "true" : "false") 
                                                             @(Model.AssetsType.ToUpper()=="new".ToUpper() && Model.AssetsType.ToUpper()!=null ? "True" : "False")
                                                            @(Model.AssetsType.ToUpper() == "Expansion".ToUpper() && Model.AssetsType.ToUpper() != null ? "True" : "False")
                                                            @(Model.AssetsType.ToUpper())*@


                                                              @if(Model==null)
                                                            {
                                                                <input type="radio" name="AssetsType" value="Select" />
                                                                  <p class="d-md-inline">Select</p>
                                                                <input type="radio" name="AssetsType" checked value="new" />

                                                                <p class="d-md-inline">New</p>
                                                                 <input type="radio"  name="AssetsType" value="expansion" />
                                                                    <p class="d-md-inline">expansion</p>
                                                            }

                                                            @if(Model!=null)
                                                            {
                                                                
                                                           
                                                            @if(Model.AssetsType=="")
                                                            {
                                                                <input type="radio" name="AssetsType" checked value="Select" />
                                                                <p class="d-md-inline">Select</p>
                                                            }else 
                                                            {
                                                                  <input type="radio" name="AssetsType" value="Select" />
                                                                  <p class="d-md-inline">Select</p> 
                                                                    
                                                            }

                                                            }
                                                          

                                                            
                                                        </label>
                                                        <label>
                                                            @if (Model != null)
                                                            {
                                                                @if (Model.AssetsType.ToUpper() == "NEW")
                                                                {
                                                                    <input type="radio" checked name="AssetsType" value="new" /> <p class="d-md-inline">New</p>

                                                                }
                                                                else
                                                                {
                                                                    <input type="radio"  name="AssetsType" value="new" /><p class="d-md-inline">New</p>

                                                                }
                                                            }
                                                            @* <input type="radio" checked="@(Model.AssetsType.ToUpper()=="NEW".ToUpper()  ? "true" : "false")" name="AssetsType" value="new" />new
                                               *@         </label>
                                                        <label>
                                                            @if (Model != null)
                                                            {
                                                                @if (Model.AssetsType.ToUpper() == "EXPANSION")
                                                                {
                                                                    <input type="radio" checked  name="AssetsType" value="expansion" />
                                                                    <p class="d-md-inline">expansion</p>

                                                                }
                                                                else
                                                                {
                                                                    <input type="radio"  name="AssetsType" value="expansion" />
                                                                    <p class="d-md-inline">expansion</p>


                                                                }
                                                            }
                                                            @*  <input type="radio" checked="@(Model.AssetsType.ToUpper()=="EXPANSION".ToUpper() ? "true" : "false")" name="AssetsType" value="expansion" />Expansion
                                                 *@       </label>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label" for="company">Select Company:</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control dropdown" id="ddlViewBy" name="Company" value="@(Model != null ? Model.Company : "") " placeholder="Enter Budget" onchange="Dropdownchange(this.value)" required>
                                                            <option Selected="True" Value="0">Select</option>
                                                            <option Selected="True" Value="0">Select</option>
                                                            @if (ViewData["CapexbindddlCompany"] != null)
                                                            {
                                                                @foreach (var da in ViewData["CapexbindddlCompany"] as IList<CapexSelddlResult>)
                                                                {
                                                                    <option Value="@da.CODE">@da.DES</option>

                                                                }
                                                            }
                                                            @*<option Value="Budge                ted">Ca                pex</option>
                                                            <option Value="NonBudgeted">Opex</option>*@


                                                        </select>
                                                    </div>
                                                </div>






                                            </div>


                                            <div class="form-group row">

                                                <div class="col-md-6">
                                                    <label class="form-label" for="department">Select BUI Department:</label>
                                                    <div class="col-sm-12">
                                                        <select class="form-control dropdown" name="BUI" id="BU" value="@(Model != null ? Model.BUI.Trim() : "") " placeholder="Enter Budget" required>
                                                            @*<option Selected="True" Value="0">Select</option>*@
                                                            @* @foreach (var da in ViewData["CapexBindddlProject"] as IList<UspCapexSelComProjectResult>)
                                                            {
                                                            <option Value="@da.IndID">@da.BU</option>

                                                            }*@
                                                            @*<option Value="Budgeted">Capex</option>
                                                            <option Value="NonBudgeted">Opex</option>*@


                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="exp_type">Select Exp Type:</label>
                                                    <div class="col-sm-10">

                                                        <select class="form-control dropdown" id="ReqType" name="EXPType" value="@(Model != null ? Model.EXPType : "") " placeholder="Enter Budget" onchange="CapexBindddlvaluechangeV2()" required>
                                                            <option Selected="True" Value="0">Select</option>
                                                            <option Value="Capex">Capex</option>
                                                            <option Value="Opex">Opex</option>


                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="budget">Select Exp:</label>
                                                    <div class="col-sm-12">

                                                        <select class="form-control dropdown" id="Exp" name="Budget" value="@(Model != null ? Model.Budget : "") " placeholder="Enter Budget" onchange="CapexBindddlvaluechangeV2()" required>
                                                            <option selected>Select</option>
                                                            <option Value="Budgeted">Budgeted</option>
                                                            <option Value="NonBudgeted">NonBudgeted</option>
                                                            <option Value="CFC">CFC</option>

                                                        </select>

                                                    </div>

                                                </div>


                                                <div class="col-md-6">
                                                    <label class="form-label" for="nfa_type">NFA Type:</label>
                                                    <div class="col-sm-10">

                                                        <input class="form-control" type="text" id="nfa_type" name="NFA" value="@(Model != null ? Model.NFA : "") " required>

                                                    </div>
                                                </div>

                                            </div>



                                            <div class="form-group row">


                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Purpose </label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" type="text" id="exced_daw_of_corelation" value="@(Model != null ? Model.Purpose : "") " name="Purpose"></textarea>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Expected Date of Completion *</label>
                                                    <div class="col-sm-10">

                                                        <input class="form-control" type="date" id="exced_daw_of_corelation" name="ExpectedDate" value="@(Model != null ? Model.ExpectedDate: "") " required>
                                                     @*   <input class="form-control" type="date" id="exced_daw_of_corelation" name="ExpectedDate" required /> @Model.ExpectedDate.ToString("dd/MM/yyyy") ;*@

                                                    </div>
                                                </div>
                                            </div>





                                               <div class="form-group row">


                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Project Name </label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="text" id="Name" dirname="Name" value="@(Model != null ? Model.Name: "") " name="Description" required>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Project Description</label>
                                                    <div class="col-sm-10">

                                                        <input class="form-control" type="text" id="DescriptionProject" name="DescriptionProject" name="ExpectedDate" value="@(Model != null ? Model.DescriptionProject: "") " required>
                                                     @*   <input class="form-control" type="date" id="exced_daw_of_corelation" name="ExpectedDate" required /> @Model.ExpectedDate.ToString("dd/MM/yyyy") ;*@

                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            @*<form action="/Administrator/UserCreateEdit" method="post" class="form-horizontal">*@


                                            <div class="card-header">
                                                <h3 class="card-title">Fill Item Lines:</h3>
                                            </div>



                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>




                                            @*  <form action="/submit-nfa-requisition" method="post" id="form2">*@

                                            <div class="card">
                                                <div class="card-body " style="background-color: #f5faff;">
                                                    <div id="div_manual" class="row">
                                                        <div class="col-sm-4 inline">
                                                            <label for="inputEmail3"
                                                                   class="control-label pull-left">Description</label>
                                                            <!-- <button type="button" formControlName="btnsearch"
                                                               value="Search" id="btnsearch" class=" "
                                                               style="float:right">Search</button> -->
                                                            <input formControlName="txtdescription" type="text"
                                                                   id="Description" name="Description" class="form-control inputtext ">
                                                        </div>

                                                        <div class="col-sm-1">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">UOM</label>&nbsp;
                                                            <select formControlName="ddluom"
                                                                    id="Uom"   name="Uom" class="form-control">
                                                                <option value="Nos" [selected]="true">Nos</option>
                                                                <option value="Pcs">Pcs</option>
                                                                <option value="Lot">Lot</option>
                                                                <option value="KG">KG</option>
                                                                <option value="Roll">Roll</option>
                                                                <option value="Mtr">Mtr</option>
                                                                <option value="Bundle">Bundle</option>
                                                                <option value="length">length</option>
                                                                <option value="Dozen">Dozen</option>
                                                                <option value="Pkt">Pkt</option>
                                                                <option value="Box">Box</option>
                                                                <option value="Set">Set</option>
                                                                <option value="Day">Day</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-1">
                                                            <label for="inputEmail3"
                                                                   class="control-label pull-left">Qty</label>&nbsp;
                                                            <input formControlName="txtqty" type="number"
                                                                   id="Qty" name="Qty" class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="inputEmail3" class="control-label pull-left">
                                                                Tax Rate
                                                            </label>&nbsp;
                                                            <input formControlName="txtlistprice" type="number"
                                                                   id="TexRate" name="TexRate" class="form-control inputtext">
                                                        </div>

                                                        <div class="col-sm-2 " style="float:right">
                                                            <div class="clearfix" style="margin-top: 10px;"></div>
                                                            <button type="button"
                                                                    value="ADD" name="Status"
                                                                    class="btn btn-primary pull-Right" onclick="DataItemList()">
                                                                ADD
                                                            </button>
                                                            @* onclick="CapexmainRequest2(this.value)"*@
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            @* </form>*@






                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>




                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <div class="table-responsive">
                                                        <div class=" card card-body card-warning table_wid">
                                                            <div>
                                                                <table id="records_tableData" class="table table-striped border-style table-bordered">
                                                                   @* <thead>*@
                                                                      @*  <tr>
                                                                            <th>Action</th>
                                                                            <th>SrNo</th>
                                                                            <th>Description</th>

                                                                            <th>UOM</th>
                                                                            <th>Qty</th>
                                                                            <th>Tax Rate</th>

                                                                        </tr>*@
                                                                   @* </thead>
                                                                    <tbody>*@

                                                                        @*@if (ViewData["Items"] != null)
                                                                        {
                                                                            @foreach (var da in ViewData["Items"] as IList<CapexmainRequestItems>)
                                                                            {
                                                                                <tr>


                                                                                    <td scope="col">Action</td>
                                                                                    <td scope="col">@da.ID</td>
                                                                                    <td scope="col">@da.Description</td>

                                                                                    <td scope="col">@da.Uom</td>
                                                                                    <td scope="col">@da.Qty</td>
                                                                                    <td scope="col">@da.TexRate</td>

                                                                                </tr>
                                                                            }
                                                                        }*@
                                                                  @*  </tbody>*@
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>







                                            <hr />


                                            <div class="card-header">
                                                <h3 class="card-title">Select Quotation</h3>
                                            </div>






                                            <br />
                                            <div class="form-group row">


                                                <button type="button" class="btn btn-info btn-lg col-md-6" data-toggle="modal" data-target="#myModal" value="Select Quotation">  <a onclick="CapexBindddlProjectVender();" class="fa fa-file"></a> </button>


                                                <div class="col-md-6">


                                                    <label class="form-label" for="imported_indigenous">Imported/Insigenous:</label>
                                                    <div class="col-sm-10">

                                                        <select id="imported_indigenous" class=" form-control dropdown" name="Imported" value="@(Model != null ? Model.Imported : "")" required>
                                                            <option value="">Select</option>
                                                            <option value="Imported">Imported</option>
                                                            <option value="Indigenous">Indigenous</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="justification">Justification:</label>
                                                    <div class="col-sm-10">


                                                        <textarea class="form-control" id="justification" value="@(Model != null ? Model.Justification : "") " name="Justification" ></textarea>

                                                    </div>
                                                </div>


                                            </div>



                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="benett">Benefit:</label>
                                                    <div class="col-sm-10">


                                                        <input class="form-control" type="text" id="benett" value="@(Model != null ? Model.Benefit : "") " name="Benefit">

                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <label class="form-label" for="rr_payback_pernod_file">IRR/Payback Period File:</label>
                                                    <div class="col-sm-10">




                                                        <input class="form-control" type="file" id="rr_payback_pernod_file" name="IRRPaybackfile" required>

                                                    </div>

                                                </div>







                                            </div>





                                            <div class="form-group row">

                                                <div class="col-md-6">


                                                    <label class="form-label" for="rri_fza_ck_period_value">IRR/Payback Period Value:</label>
                                                    <div class="col-sm-10">


                                                        <input class="form-control" type="text" id="rri_fza_ck_period_value" value="@(Model != null ? Model.IRRPaybackValue : "") " name="IRRPaybackValue" required>

                                                    </div>


                                                </div>


                                                <div class="col-md-6">

                                                    <label class="form-label" for="projected_cash_outflow_fis">Projectet Cash Outflow File:</label>
                                                    <div class="col-sm-10">



                                                        <input class="form-control" type="file" id="projected_cash_outflow_fis"  name="cashoverFlowFile" required>


                                                    </div>
                                                </div>




                                            </div>


                                            <div class="form-group row">



                                                <div class="col-md-6">
                                                    <label class="form-label" for="projected_cash_outflow_value">Projectet Cash Outflow Value:</label>
                                                    <div class="col-sm-10">




                                                        <input class="form-control" type="text" id="projected_cash_outflow_fis" value="@(Model != null ? Model.cashoverFlowValue : "") " name="cashoverFlowValue" required>


                                                    </div>

                                                </div>

                                            </div>






                                            <hr />

                                            <div class="card-header">
                                                <h3 class="card-title">Approval Matrix</h3>
                                            </div>



                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <div class="table-responsive">
                                                        <div class=" card card-body card-warning table_wid">
                                                            <div>
                                                                <table id="records_table" class="table table-striped border-style table-bordered">
@*                                                                    <thead>*@
                                                                        <tr>
                                                                            <th>Approval 1</th>
                                                                            <th>Approval 2</th>
                                                                            <th>Approval 3</th>
                                                                            <th>Approval 4</th>

                                                                        </tr>
                                                                    @*</thead>
                                                                    <tbody>*@

                                                                       @* @if (ViewData["Item2"] != null)
                                                                        {

                                                                            @foreach (var da in ViewData["Item2"] as IList<CapexShowApproval_RequestForm>)
                                                                            {
                                                                                <tr>
                                                                                    <td>@da.Approval_1</td>
                                                                                    <td>@da.Approval_2</td>
                                                                                    <td>@da.Approval_3</td>
                                                                                    <td>@da.Approval_4</td>
                                                                                </tr>

                                                                            }
                                                                        }*@
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <hr />
















                                            </br>


                                            <div class="card-footer">
                                                <div class="col-sm-6 ">
                                                <button type="submit" class="btn btn-info" name="BTNStatus" value="Submit">Submit</button>

                                                </div >
                                                <div class="col-sm-6 ">
                                                
                                                <button type="submit" class="btn btn-primary " name="BTNStatus" value="Draft">Save Draft</button>
                                                    </div>
                                            </div>



                                            <!-- /.card-footer -->
                                        </form>






                                      @*  @Html.ActionLink("Button Name", "CapexmainRequest2", "NFA",new { UID = "Testing" },new { @class="btn btn-primary " })*@



                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>








            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>






<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog " style="margin: 250px;">

        <!-- Modal content-->
        <div class="modal-content" style="
        height: auto;
        min-height: 100%;
        border-radius: 0;
        width: 370%;
        ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <form id="Form2"  method="post" enctype="multipart/form-data">
                <div class="modal-body">


                <div class="col-md-6">
                    <label class="form-label" for="company">Select Vender :</label>
                    <div class="col-sm-10">


                        <select class="form-control dropdown" name="BU" id="VenderDll" placeholder="Enter Budget" onchange="DropdownchangeAddress(this.value)">
                            <option Selected="True" Value="0">Select</option>



                        </select>



                        </select>
                    </div>
                </div>



                <div class="col-md-6">
                    <label class="form-label" for="company">Select Vender :</label>
                    <div class="col-sm-10">
                        <label id="BUAddress"></label>
                    </div>
                </div>



                </br>



                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="table-responsive">
                            <div class=" card card-body card-warning table_wid" style="overflow:auto">
                                <div>
                                        <table id="records_table2" class="table table-striped border-style table-bordered">
                                       @* <thead>

                                            <tr >
                                                <td>Line Item</td>
                                                <td>Item Name</td>
                                                <td>UOM</td>
                                                <td>Quantity</td>
                                                <td style="width:80px;">Initial Rate</td>
                                                <td>Initial Amount</td>
                                                <td style="width:80px;">Final Rate</td>
                                                <td>Final Amount</td>
                                                <td>Tax</td>
                                                <td>Quotation Amount<br>(Tax Inclusive)</td>
                                                <td>Remarks</td>
                                            </tr>
                                        
                                        
                                        </thead>
                                        <tbody>

                                            @if (ViewData["Items"] != null)
                                            {
                                                
                                                @foreach (var da in ViewData["Items"] as IList<CapexmainRequestItems>)
                                                {




                                                <tr >
                                                        <td>@da.ID</td>
                                                <td>@da.Description</td>
                                                <td>@da.Uom</td>
                                                <td>@da.Qty</td>
                                                        <td><input type="text" / onchange="CapexBindddlvaluechange(@da.ID+',InitalRate,'+this.value)"></td>
                                                <td>Initial Amount</td>
                                                        <td><input type="text" /></td>
                                                <td>Final Amount</td>
                                                <td>@da.TexRate</td>
                                                <td>Quotation Amount<br>(Tax Inclusive)</td>
                                                        <td><input type="text" /></td>
                                                     </tr>



                                                }
                                            }
                                        </tbody>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="form-group row">

                    <div class="col-md-6">
                        <label class="form-label" for="department">Upload Files: *</label>
                        <div class="col-sm-12">
                                <input class="form-control" type="file" id="F3_UplodeFile" name="F3_UplodeFile">

                        </div>

                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="exp_type">Payment Term:</label>
                        <div class="col-sm-10">

                                <input type="text" name="F3_PaymentTerms" class="form-control" />
                        </div>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-md-6">
                        <label class="form-label" for="department">Freight :</label>
                        <div class="col-sm-12">
                                <input type="text" name="F3_Freight" class="form-control" />
                        </div>

                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="exp_type">Instalation Cost:</label>
                        <div class="col-sm-10">

                                <input type="text" name="F3_InstalationCost" class="form-control" />
                        </div>
                    </div>

                </div>



                <div class="form-group row">

                    <div class="col-md-6">
                        <label class="form-label" for="department">Delivery: :</label>
                        <div class="col-sm-12">
                                <input type="text" name="F3_Delivery" class="form-control" />
                        </div>

                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="exp_type">Remark:</label>
                        <div class="col-sm-10">

                                <input type="text" name="F3_Remarks"  class="form-control" />
                        </div>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-md-6">
                        <label class="form-label" for="department"> Terms & Conditions: *</label>
                        <div class="col-sm-12">
                            <input type="text" name="F3_TermCondition" class="form-control" />
                        </div>

                    </div>

                    <div class="col-md-6">
                       
                    </div>

                </div>



                <div class="form-group row">

                    <div class="col-md-6">

                            <button type="button" class="btn btn-info" onclick="Form3()" >Submit</button>
                        <button type="submit" class="btn btn-default float-left">Cancel</button>
                    </div>


                </div>




               


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            </form>
        </div>

    </div>
</div>





<script>



    $(document).ready(function () {
        function myfunction(e) {
            alert('Hello Test' + e);
        }

    @Html.Raw(ViewBag.js)
        });


    $('#exampla').dataTable({

    });

    @Html.Raw( ViewBag.DynamicScripts )

    function Dropdownchange(value) {

        $.ajax({
            type: "GET",
            url: "/NFA/CapexBindddlProject/?id=" + value,
            success: function (data) {
                console.log(data)
                var $el = $("#BU");
                $el.empty(); // remove old options
                //$el.append($("<option></option>")
                //    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                            .attr("value", key.bu).text(key.bu));


                });


                    var myParam = location.search.split('EID=')[1];
                    alert(myParam);
                    if (myParam != undefined) {
                         
                        var nfa_type = document.getElementById("nfa_type").value;
                       
                        const myArray = nfa_type.split(",");
                        
                        $("#BU").val(myArray[1]);
                        //$("#nfa_type").val(myArray[0]+"/"+myArray[1]+"/"+myArray[2]+"/"+myArray[3]);
                       
                    }
            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }


    function CapexmainRequest2(value) {

        $.ajax({
            type: "GET",
            url: "\CapexmainRequest2\?NFA=" + value,
            success: function (data) {
               
                var $el = $("#BU");
                $el.empty(); // remove old options
                //$el.append($("<option></option>")
                //    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", key.bu).text(key.bu));//value.indID


                });

              

            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }

    //function DropdownchangeAddress(value) {

    //    $.ajax({
    //        type: "GET",
    //        url: "\CapexBindddlProjectAddress\?id=" + value,
    //        success: function (data) {
    //            console.log(data)
    //            var $el = $("#BUAddress");
    //            $el.empty(); // remove old options
    //            $el.append(data)




    //            });

    //        }
    //    })

    //    //ddlProjectt.DataValueField = "IndID";
    //    //ddlProjectt.DataTextField = "BU";


    //}





    function DropdownchangeAddress(value) {

        $.ajax({
            type: "GET",
            url: "\CapexBindddlProjectAddress\?id=" + value,
            success: function (data) {
                console.log(data)
                var $el = $("#BUAddress");
                console.log(data)
                var $el = $("#BUAddress");
                $el.empty(); // remove old options
                $el.append(data)

            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }





    function CapexBindddlProjectVender() {
        var sa = $("#ddlViewBy").value;

        $.ajax({
            type: "GET",
            url: "\CapexBindddlProjectVender\?id=" + sa,
            success: function (data) {
                console.log(data)
                var $el = $("#VenderDll");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", value.vendor_Code).text(key.vendor_Name));


                });

            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }

    function CapexBindddlvaluechange(value) {
        alert(value);
        $.ajax({
            type: "GET",
            url: "\CapexBindddlValuChange\?id=" + value,
            success: function (data) {
                console.log(data)
                var $el = $("#VenderDll");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", value.vendor_Code).text(key.vendor_Name));


                });

            }
        })

    }



       function CapexBindddlvaluechangeV2() {

        var da = document.getElementById("ddlViewBy").value.trim() + "/" + document.getElementById("BU").value.trim() + "/" + document.getElementById("ReqType").value.trim() + "/" + document.getElementById("Exp").value.trim();

         //$("#nfa_type").value =

         // $('#nfa_type').val( da);
       
        var da1 = document.getElementById("nfa_type").value
        //var f=da1.split()
        // $('#BU').val( );
        //alert(da);
        $.ajax({
            type: "GET",
            url: "\CapexBindddlValuChange1\?id=" + da1,
            success: function (data) {
                //console.log(data)
                //var $el = $("#VenderDll");
                //$el.empty(); // remove old options
                //$el.append($("<option></option>")
                //    .attr("value", '').text('Please Select'));
                console.log(data)
                var c = [];

                c.push("<tr><th>" + "Approval 1" + "</th>");
                c.push("<th>" + "Approval 2" + "</th>");
                c.push("<th>" + "Approval 3" + "</th></tr>");
                $.each(data, function (i, item) {
                    c.push("<tr><td>" + item.approval_1 + "</td>");
                    c.push("<td>" + item.approval_2 + "</td>");
                    c.push("<td>" + item.approval_3 + "</td></tr>");
                });

        //          var $tr = $('<tr>').append(
        //    $('<td>').text(item.approval_1),
        //    $('<td>').text(item.approval_2),
        //    $('<td>').text(item.approval_3)
        //).appendTo('#records_table');

                $('#records_table').html(c.join(""));

            }
        })

    }





//    $("#Form2").submit(function (e) {
//        alert("hcjh");
// /*   e.preventDefault();*/ // avoid to execute the actual submit of the form.

//    var form = $(this);
   
//    $.ajax({
//            url: "/Form2",
//            type: "POST",
//            dataType: 'json',
//            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
//            data: form.serialize(), // serializes the form's elements.
//        success: function(data)
//        {
//          alert(data); // show response from the php script.
//        }
//    });
    
//});


     function EID(data ) 
     {
          $('#EID').val(data);
     }


  function Form3() {

        $.ajax({
            type: "POST",
            url: '/NFA/AddFriend', //Name of action and controller
            data: $('#form1, #Form2').serialize(),// frm.serialize(),
            dataType: 'json',
            //contentType: "Content-Type: multipart/form-data;",
            //processData: false,
            //beforeSend: function () {
            //    //this event is unneccesary. You can use it for a loader. Triggers before sending data.
            //    $("#btn-upload").text("Uploading");
            //},
            success: function (data) {

                

                $("#EID").val(data);
                //this event unneccesary too. I prefer to use it for showing a dialog to tell user "Hey, It's uploaded!"
                //Success doesnt mean file saved on server. It means only post succeed.
               // $("#btn-upload").text('Hey, Its uploaded!');
            }
        });





        var formData = new FormData();
        formData.append('file', $('#F3_UplodeFile')[0].files[0]);

        $.ajax({
            url: '/NFA/AddFileUplode',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                console.log(data);
                alert(data);
            }
        });

       

  };




    function DataItemListEdit() {



        $.ajax({
            type: "GET",
            url: '/NFA/DataItemListEdit', //Name of action and controller
            
            dataType: 'json',
           contentType: "application/json; charset=utf-8",
            success: function (data) {

                console.log(data)
                var c = [];
                 var d = [];

                c.push("<tr><th>" + " Action" + "</th>");
                c.push("<th>" + " Sr No" + "</th>");
                c.push("<th>" + "Description" + "</th>");
                c.push("<th>" + "UOM " + "</th>");
                 c.push("<th>" + "Qty " + "</th>");
                  c.push("<th>" + "Tax Rate " + "</th></tr>");
                $.each(data, function (i, item) {

                      c.push("<tr><td>" + item.id + "</td>");
                    c.push("<td>" + item.id + "</td>");
                    c.push("<td>" + item.description + "</td>");
                    c.push("<td>" + item.uom + "</td>");
                    c.push("<td>" + item.qty + "</td>");
                    c.push("<td>" + item.texRate + "</td></tr>");
                });


                


                d.push('<tr>');
                d.push('<th>Line Item </th>');
                d.push('<th> Item Name </th>');
                d.push('<th> UOM </th>');
                d.push('<th> Quantity </th>');
                d.push('<th> Initial Rate </th>');
                d.push('<th> Initial Amount </th>');
                d.push('<th> Final Rate </th>');
                d.push(' <th> Final Amount </th>');
                d.push('<th> Tax </th>');
                d.push('<th> Quotation Amount<br>(Tax Inclusive) </th>');
                d.push('<th> Remarks </th>');
                d.push('</tr>');


                $.each(data, function (i, item) {

                   

                    d.push("<tr>");
                    d.push("<td>" + item.id + " </td>");
                    d.push("<td>" + item.description + "</td>");
                    d.push("<td> " + item.uom + " </td>");
                    d.push("<td> " + item.qty + " </td>");
                    d.push("<td> <input type='text' name='InitRate' calss='form-Control'  onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push("<td> 213 </td>");
                    d.push("<td> <input type='text' name='FinalRate' calss='form-Control'  onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push(" <td> 213 </td>");
                    d.push("<td> " + item.texRate + " </td>");
                    d.push("<td> 23<br>(Tax Inclusive) </td>");
                    d.push("<td> <input type='text' calss='form-Control'  name='Remark' onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push("</tr>");
                });
                //this event unneccesary too. I prefer to use it for showing a dialog to tell user "Hey, It's uploaded!"
                //Success doesnt mean file saved on server. It means only post succeed.
                $('#records_tableData').html(c.join(""));
               


                $('#records_table2').html(d.join(""));
            }
        });



    };





    function DataItemList() {


        alert(document.getElementById("Description").value);

        var Description = document.getElementById("Description").value;
        var UOM = document.getElementById("Uom").value;
        var Qty = document.getElementById("Qty").value;
        var TaxRate = document.getElementById("TexRate").value;



        alert("call");

        $.ajax({
            type: "GET",
            url: '/NFA/DataList1', //Name of action and controller
            data: { Description: Description, UOM: UOM, Qty: Qty, TaxRate: TaxRate },
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                console.log(data)
                var c = [];
                var d = [];

                c.push("<tr><th>" + " Action" + "</th>");
                c.push("<th>" + " Sr No" + "</th>");
                c.push("<th>" + "Description" + "</th>");
                c.push("<th>" + "UOM " + "</th>");
                c.push("<th>" + "Qty " + "</th>");
                c.push("<th>" + "Tax Rate " + "</th></tr>");
                $.each(data, function (i, item) {

                    c.push("<tr><td>" + item.id + "</td>");
                    c.push("<td>" + item.id + "</td>");
                    c.push("<td>" + item.description + "</td>");
                    c.push("<td>" + item.uom + "</td>");
                    c.push("<td>" + item.qty + "</td>");
                    c.push("<td>" + item.texRate + "</td></tr>");
                });





                d.push('<tr>');
                d.push('<th>Line Item </th>');
                d.push('<th> Item Name </th>');
                d.push('<th> UOM </th>');
                d.push('<th> Quantity </th>');
                d.push('<th> Initial Rate </th>');
                d.push('<th> Initial Amount </th>');
                d.push('<th> Final Rate </th>');
                d.push(' <th> Final Amount </th>');
                d.push('<th> Tax </th>');
                d.push('<th> Quotation Amount<br>(Tax Inclusive) </th>');
                d.push('<th> Remarks </th>');
                d.push('</tr>');


                $.each(data, function (i, item) {



                    d.push("<tr>");
                    d.push("<td>" + item.id + " </td>");
                    d.push("<td>" + item.description + "</td>");
                    d.push("<td> " + item.uom + " </td>");
                    d.push("<td> " + item.qty + " </td>");
                    d.push("<td> <input type='text' name='InitRate' calss='form-Control'  onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push("<td> 213 </td>");
                    d.push("<td> <input type='text' name='FinalRate' calss='form-Control'  onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push(" <td> 213 </td>");
                    d.push("<td> " + item.texRate + " </td>");
                    d.push("<td> 23<br>(Tax Inclusive) </td>");
                    d.push("<td> <input type='text' calss='form-Control'  name='Remark' onchange='ChangeData(" + item.id + ")'/> </td>");//edit
                    d.push("</tr>");
                });
                //this event unneccesary too. I prefer to use it for showing a dialog to tell user "Hey, It's uploaded!"
                //Success doesnt mean file saved on server. It means only post succeed.
                $('#records_tableData').html(c.join(""));



                $('#records_table2').html(d.join(""));
            }
        });



    };





    function ChangeData( id ) 
    {

        alert("hello");
//We need to create form. Beause we are sending a file here!
       
        //Added file to our form
        // console.log(file);
        $.ajax({
            type: "GET",
            url: '/NFA/ChangeData',
            data: { id: id },
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
           
            success: function () {
                //this event unneccesary too. I prefer to use it for showing a dialog to tell user "Hey, It's uploaded!"
                //Success doesnt mean file saved on server. It means only post succeed.
                $("#btn-upload").text('Hey, Its uploaded!');
            }
        });

        
    }

      function EditDropDown(ID1,ID2,ID3  ) {

          
        const myArray = ID1.split("/");
          $('#ddlViewBy').val(myArray[0]);

        //CapexmainRequest2(myArray);
        Dropdownchange(myArray[0]);

        var myParam = location.search.split('EID=')[1];
        
        alert(myParam);
        $('#EID').val(myParam);
       $('#imported_indigenous').val(ID2.trim());
        
         $('#ReqType').val(myArray[2].trim());
         
          $('#Exp').val(myArray[3]);
        //CapexBindddlvaluechangeV2();
        
            setTimeout('', 10000);
            var el = document.getElementById('ddlViewBy');
        el.onchange();
             var el = document.getElementById('ReqType');
        el.onchange();
        alert(myArray[1]);
        //$('#BU').val(myArray[1].trim());
        document.getElementById('BU').value = myArray[1].trim()
         $('#nfa_type').val(myArray);
        

        //EditDropDown2(ID1);

   
      }

       function EditDropDown2(ID1  ) {
        const myArray = ID1.split("/");
        
        
       }
    function uploadcsvfile() {
        var myfile = document.getElementById("myfile");
        var formData = new FormData();

        if (myfile.files.length > 0) {
            for (var i = 0; i < myfile.files.length; i++) {
                formData.append('file-' + i, myfile.files[i]);
            }
        }



        //var input = document.getElementById(inputId);
        //var files = input.files;
        //var formData = new FormData();

        //for (var i = 0; i !== files.length; i++) {
        //    formData.append("files", files[i]);
        //}

        var _url = '@Url.Action("UploadFile", "NFA")';
        $.ajax({
            url: _url,
            type: "POST",
            //dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {

            },
            error: function (data) {

            }
        })
    }





</script>




