@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">View Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Indent </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">View Indent</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style=" overflow:auto;">
                                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                                            <thead>
                                                <tr >
                                                    <th scope="col">Details</th>
                                                    <th scope="col">NFA Requisition No</th>
                                                    <th scope="col">Indent ID</th>
                                                    <th scope="col">Asset Type</th>
                                                    <th scope="col">Old Asset Code</th>
                                                    <th scope="col">NFA Type</th>
                                                    <th scope="col">Project Name</th>
                                                    <th scope="col">Project Description</th>
                                                    <th scope="col">Purpose</th>
                                                    <th scope="col">Expected Date</th>
                                                    <th scope="col">Purchase Location</th>
                                                    <th align="center" scope="col">Selected Quotation Amount (INR)</th>
                                                    <th align="center" scope="col">Max Quotated Amount (INR)</th>
                                                    <th scope="col">Imported / Indigenous</th>
                                                    <th scope="col">Current With</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Requested By</th>
                                                    <th scope="col">Requested Date</th>
                                                    <th scope="col">Approved Date</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                @if (ViewData["CapexSelApprovalHistoryGrid"] != null)
                                                {
                                                    @foreach (var da in ViewData["CapexSelApprovalHistoryGrid"] as IList<CapexSelApprovalHistoryResult>)
                                                    {
                                                        <tr>

                                                            <td>@da.RequestNo</td>
                                                            <td>@da.RequestNo</td>
                                                            <td>@da.IndentID</td>
                                                            <td>@da.Assettype</td>
                                                            <td>@da.OldAssetCode</td>
                                                            <td>@da.CapexType</td>
                                                            <td>@da.PName</td>
                                                            <td>@da.PDescription</td>
                                                            <td>@da.Purpose</td>
                                                            <td>@da.EdateCompletion</td>
                                                            <td>@da. PurchaseLocation</td>
                                                            <td>@da.SelectQuotationAmount</td>
                                                            <td>@da.TotalValueInINR</td>
                                                            <td>@da.ImportedIndigenous</td>
                                                            <td>@da.CurrentWith</td>
                                                            <td>@da.Status</td>
                                                            <td>@da.CreatedBy</td>
                                                            <td>@da.CreateDate</td>
                                                            <td>@da.ApprovedDate</td>
                                                                
                                                        </tr>
                                                    }
                                                }

                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>





            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>

    $('#exampla').dataTable({

    });
</script>




