@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">View Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">d
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Indent </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">View Indent</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style=" overflow:auto;">
                                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Select</th>
                                                    <th scope="col">CTID</th>
                                                    <th scope="col">CapexType</th>
                                                    <th scope="col">Comp_code</th>
                                                    <th scope="col">Des</th>
                                                    <th scope="col">BU</th>
                                                    <th scope="col">ReqType</th>
                                                    <th scope="col">BudgetType</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                @if (ViewData["NFAMappingGrid1"] != null)
                                                {
                                                    @foreach (var da in ViewData["NFAMappingGrid1"] as IList<UspCapexCapexTypeMappingResult>)
                                                    {
                                                        <tr>

                                                            <td scope="col">Select</td>
                                                            <td scope="col">@da.CTID</td>
                                                            <td scope="col">@da.CapexType</td>
                                                            <td scope="col">@da.Comp_code</td>
                                                            <td scope="col">@da.Des</td>
                                                            <td scope="col">@da.BU</td>
                                                            <td scope="col">@da.ReqType</td>
                                                            <td scope="col">@da.BudgetType</td>

                                                         

                                                        </tr>
                                                    }

                                                }
                                                
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>





            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>

    $('#exampla').dataTable({

    });
</script>




