@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Indent Approval</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Indent Approval</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                
                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Indent Approval</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style=" overflow:auto;">
                                        <table id="exampl" class="table  table-bordered table-striped table-responsive" >
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Indent No</th>
                                                    <th>Company</th>
                                                    <th>BU/Project/Plant</th>
                                                    <th>Location of work</th>
                                                    <th>Type of Work Details</th>
                                                    <th>Enclosure BQQ</th>
                                                    <th>Enclosure Drawing</th>
                                                    <th>Budget Type</th>
                                                    <th>Proposed Rate/budget</th>
                                                    <th>TAT</th>
                                                    <th>Tentative Start Date</th>
                                                    <th>Tentative Completion Date</th>
                                                    <th>Proposed Contractor Name</th>
                                                    <th>Vendor Existing/New</th>
                                                    <th>Contractor Details</th>
                                                    <th>Other Remarks</th>
                                                    <th>Tagged Purchaser</th>
                                                    <th>Status</th>
                                                    <th>Requested By</th>
                                                    <th>Requested Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var data in ViewData["GridBindIndentApproval"] as IList<IndentSelPendingforApprovalResult>)
                                                {
                                                    <tr>
                                                        <td>
                                                            <center>
                                                             @*   <a ID="lnkviewAction" runat="server" Text="Approve/Reject" CommandArgument='<%# Eval("IndentID"' CausesValidation="false" CommandName="<%# ((GridViewRow) Container).RowIndex %>" Font-Bold="true" Font-Size="8pt"></a>*@
                                                            </center>
                                                        </td>
                                                        <td>@data.IndentID</td>
                                                        <td>@data.Company</td>
                                                        <td>@data.BU</td>
                                                        <td>@data.LocatioWork</td>
                                                        <td>@data.TypeofWorkDetails</td>
                                                        <td>
                                                           @* <asp:HyperLink ID="lblEnclosureBQQ" runat="server" NavigateUrl='<%# Eval("EnclosureBQQFile"' visible='<%#Eval("IsVisibleEnclosureBQQFile").ToString() == "0" ? false : true %>' Text="Download" Target="_blank"></asp:HyperLink>*@
                                                        </td>
                                                        <td>
                                                           @* <asp:HyperLink ID="lblEnclosureDrawing" runat="server" NavigateUrl='<%# Eval("EnclosureDrawingFile"' visible='<%#Eval("IsVisibleEnclosureDrawingFile").ToString() == "0" ? false : true %>' Text="Download" Target="_blank"></asp:HyperLink>*@
                                                        </td>
                                                        <td>@data.BudgetType</td>
                                                        <td>@data.RateProposed</td>
                                                        <td>@data.TAT</td>
                                                        <td>@data.TentativeStartDate</td>
                                                        <td>@data.TentativeCompletionDate</td>
                                                        <td>@data.ProposedContractorName</td>
                                                        <td>@data.VendorExistingLocation</td>
                                                        <td>@data.ContractorDetailsAddressGST</td>
                                                        <td>@data.OtherRemarks</td>
                                                        <td>@data.TaggedPurchaser</td>
                                                        <td>@data.StatusDesc</td>
                                                        <td>@data.CreatedBy</td>
                                                        <td>@data.CreateDate</td>
                                                    </tr>
                                                }
                                                
                                            </tbody>
                                           
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>





            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



<script>
   
           
            $('#exampl').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
   
</script>



