@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">View Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Indent </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                
                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">View Indent</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" >
                                        <table id="exampla" class="table  table-bordered table-striped " >
                                            <thead>
                                                <tr>
                                                    <th>Indent No</th>
                                                    <th>Action</th>
                                                    <th>Company</th>
                                                    <th>BU/Project/Plant</th>
                                                    <th>Location of work</th>
                                                    <th>Type of Work Details</th>
                                                    <th>Enclosure BQQ</th>
                                                    <th>Enclosure Drawing</th>
                                                    <th>Budget Type</th>
                                                    <th>Proposed Rate/budget</th>
                                                    <th>Tat</th>
                                                    <th>Tentative Start Date</th>
                                                    <th>Tentative Completion Date</th>
                                                    <th>Proposed Contractor Name</th>
                                                    <th>Vendor Existing/New for Same Location</th>
                                                    <th>Contractor Details</th>
                                                    <th>Other Remarks</th>
                                                    <th>Current With</th>
                                                    <th>Status</th>
                                                    <th>Tagged Purchaser</th>
                                                    <th>Approver 1</th>
                                                    <th>Approver 1 Remarks</th>
                                                    <th>Approver 1 Approved On</th>
                                                    <th>Approver 2</th>
                                                    <th>Approver 2 Remarks</th>
                                                    <th>Approver 2 Approved On</th>
                                                    <th>Requested By</th>
                                                    <th>Requested Date</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                @foreach (var data in ViewData["GridBind"] as IList<IndentSelApprovalHistoryResult>)
                                                {

                                                <tr>
                                                       
                                                        <td>@data.IndentID</td>
                                                        <td> </td>
                                                        <td>@data.Company</td>
                                                        <td>@data.BU_Project_Plan</td>
                                                        <td>@data.LocatioWork</td>
                                                        <td>@data.TypeofWorkDetails</td>
                                                        <td>@data.EnclosureBQQFile</td>
                                                        <td>@data.EnclosureDrawingFile</td>
                                                        <td>@data.BudgetType</td>
                                                        <td>@data.RateProposed</td>
                                                        <td>@data.TAT</td>
                                                        <td>@data.TentativeStartDate</td>
                                                        <td>@data.TentativeCompletionDate</td>
                                                        <td>@data.ProposedContractorName</td>
                                                        <td>@data.VendorExistingLocation</td>
                                                        <td>@data.ContractorDetailsAddressGST</td>
                                                        <td>@data.OtherRemarks</td>
                                                        <td>@data.CurrentWith</td>
                                                        <td>@data.StatusDesc</td>
                                                        <td>@data.TaggedPurchaser</td>
                                                        <td>@data.Approver1</td>
                                                        <td>@data.Approver1Remarks</td>
                                                        <td>@data.Approver1ApprovedOn</td>
                                                        <td>@data.Approver2</td>
                                                        <td>@data.Approver2Remarks</td>
                                                        <td>@data.Approver2ApprovedOn</td>
                                                        <td>@data.CreatedBy</td>
                                                        <td>@data.CreateDate</td>
                                                </tr>

                                                }
                                                
                                            </tbody>
                                           
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>





            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@*
<script>

    $('#exampla').DataTable({
        searching: true,
        paging: true,
        dom: 'lftipr'//'Bfrtip',
        
    });
</script>*@




