@using static DataModels.CapExTSDBStoredProcedures;
@model CapExTSVS.Models1.UspCapexCapexTypeMappingResultComm;


@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @* <h1 class="m-0">Create /Request Indent</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Company /BU</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Add Company /BU</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/Administrator/CapexSaveCompany" method="post" class="form-horizontal">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Type ID </label>
                            <div class="col-sm-10">


                                <input type="text" value="@(Model != null ? Model.CTID : "") " class="form-control" name="CTID">


                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Capex Code </label>
                            <div class="col-sm-10">
                                <input type="text" value="@(Model != null ? Model.Comp_code : "") " class="form-control" name="Comp_code" placeholder="Enter Company Description">

                            </div>
                        </div>

                        <br />



                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Project <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" value="@(Model != null ? Model.BU : "") " class="form-control" name="BU" placeholder="Enter Project">
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Type  </label>
                            <div class="col-sm-10">


                                <input type="text" value="@(Model != null ? Model.CapexType : "") " class="form-control" name="CapexType">


                            </div>
                        </div>


                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Description  </label>
                            <div class="col-sm-10">


                                <input type="text" value="@(Model != null ? Model.Des : "") " class="form-control" name="Des">


                            </div>
                        </div>



                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Select Company </label>
                            <div class="col-sm-10">


                                <select class="form-control dropdown"  id="inputEmail3" name="Comp_code" placeholder="Enter Budget" onchange="Dropdownchange(this.value)">
                                    <option Selected="True" Value="0">Select</option>
                                    @if (ViewData["CapexbindddlCompany"]!=null)
                                    {
                                            @foreach (var da in ViewData["CapexbindddlCompany"] as IList<CapexSelddlResult>)
                                            {
                                                <option Value="@da.CODE">@da.DES</option>

                                            }
                                    }
                                    @*<option Value="Budgeted">Capex</option>
                                    <option Value="NonBudgeted">Opex</option>*@


                                </select>


                            </div>
                        </div>



                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Project/Bu  </label>
                            <div class="col-sm-10">

                                
                                <select class="form-control dropdown"  name="BU" id="BU" placeholder="Enter Budget">
                                    <option Selected="True" Value="0">Select</option>
                                   @* @foreach (var da in ViewData["CapexBindddlProject"] as IList<UspCapexSelComProjectResult>)
                                    {
                                        <option Value="@da.IndID">@da.BU</option>
                                        
                                    }*@
                                    @*<option Value="Budgeted">Capex</option>
                                    <option Value="NonBudgeted">Opex</option>*@


                                </select>


                            </div>
                        </div>



                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3"  class="col-sm-2 col-form-label">Request Type </label>
                            <div class="col-sm-10">


                                <select class="form-control dropdown" id="inputEmail3" value="@(Model != null ? Model.ReqType : "") " name="ReqType" placeholder="Enter Budget">
                                    <option Selected="True" Value="0">Select</option>
                                    <option Value="Budgeted">Capex</option>
                                    <option Value="NonBudgeted">Opex</option>


                                </select>


                            </div>
                        </div>



                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Budget Type </label>
                            <div class="col-sm-10">


                                <select class="form-control dropdown"  id="inputEmail3" name="BudgetType"  placeholder="Enter Budget">
                                    <option  selected value="@(Model != null ? Model.BudgetType : "") ">Select</option>
                                    <option Value="Budgeted">Budgeted</option>
                                    <option Value="NonBudgeted">NonBudgeted</option>


                                </select>

                            </div>
                        </div>












                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="submit" class="btn btn-default float-right">Cancel</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <!-- Table Forms -->

    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View company</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form  method="post" class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Capex  ID</th>
                                    <th>Capex Code</th>

                                    <th>Capex Type</th>
                                    <th>Description </th>


                                    @*<th>Company</th>*@
                                    <th>Project/Bu</th>
                                    <th>Request Type </th>

                                    <th>Budget Type </th>
                                </tr>

                            </thead>
                            <tbody>


                                @if (ViewData["CapexbindddlGrid"] != null)
                                {
                                    @foreach (var da in ViewData["CapexbindddlGrid"] as IList<UspCapexCapexTypeMappingResult>)
                                    {


                                        <tr>

                                            <td>
                                                <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/CapexEditCompany/@da.CTID.ToString()"></a></button><br>
                                                <button disabled="" class="badge bg-danger btn btn-sm" name="3594"><a class="fa fa-trash"></a></button><br>
                                                <button disabled="" class="badge bg-info btn btn-sm" name="3594"><a target="_self" class="fa fa-file" ></a></button>
                                            </td>
                                            <td>@da.CTID </td>
                                            <td>@da.Comp_code </td>
                                            
                                            <td>@da.CapexType </td>
                                            <td>@da.Des </td>
                                               
                                            @*<td>@da.com daCompany</td>*@
                                            <td>@da.BU </td>
                                            <td>@da.ReqType </td>
                                                
                                            <td>@da.BudgetType  </td>

                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- End Table Forms -->
    <!-- /.content -->
</div>


<script>

    $('#exampla').dataTable({

    });

    function Dropdownchange(value) {
        alert(value)

        $.ajax({
            type: "GET",
            url: "/Administrator/CapexBindddlProject",
            data: { id: String(value) },
            success: function (data) {
                console.log(data)
                var $el = $("#BU");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", value.indID).text(key.bu));
                   
                    
                });
         
            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }
</script>






