@using DataModels;
@using static DataModels.CapExTSDBStoredProcedures;

@model CapExTSVS.Models1.EmployeeRegistration;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


@*<style>

    div:where(.swal2-icon) .swal2-icon-content {
        display: flex;
        align-items: center;
        /* font-size: 3.75em; */
        font-size: larger;
    }
</style>*@



    <style>
        @@import url(https://fonts.googleapis.com/css?family=Montserrat);
        /* css class for the registration form generated errors */

        .profilepress-reg-status {
            border-radius: 6px;
            font-size: 17px;
            line-height: 1.471;
            padding: 10px 19px;
            background-color: #e74c3c;
            color: #ffffff;
            font-weight: normal;
            display: block;
            text-align: center;
            vertical-align: middle;
            margin: 5px 0;
        }
        /*form styles*/

        #msform {
            width: 400px;
            margin: 50px auto 550px;
            text-align: left;
            position: relative;
        }

            #msform fieldset {
                background: white;
                border: 0 none;
                border-radius: 3px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
                padding: 20px 30px;
                box-sizing: border-box;
                width: 200%;
                margin: 0 10%;
                margin-left: -30%;
                /*stacking fieldsets above each other*/
                position: absolute;
            }
                /*Hide all except first fieldset*/

                #msform fieldset:not(:first-of-type) {
                    display: none;
                }
            /*inputs*/

            #msform input,
            #msform textarea {
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 10px;
                width: 100%;
                box-sizing: border-box;
                font-family: montserrat;
                color: #2C3E50;
                font-size: 13px;
            }
            /*buttons*/

            #msform .action-button {
                width: 100px;
                background: #27AE60;
                font-weight: bold;
                color: white;
                border: 0 none;
                border-radius: 1px;
                cursor: pointer;
                padding: 10px 5px;
                margin: 10px 5px;
            }

                #msform .action-button:hover,
                #msform .action-button:focus {
                    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
                }
        /*headings*/

        .fs-title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
        }

        .fs-subtitle {
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;
        }
        /*progressbar*/

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
        }

            #progressbar li {
                list-style-type: none;
                color: #616161;
                text-transform: uppercase;
                font-size: 9px;
                width: 33.33%;
                float: left;
                position: relative;
            }

                #progressbar li:before {
                    content: counter(step);
                    counter-increment: step;
                    width: 20px;
                    line-height: 20px;
                    display: block;
                    font-size: 15px;
                    color: #333;
                    background: white;
                    border-radius: 3px;
                    margin: 0 auto 5px auto;
                }

                #progressbar li:first-child:after {
                    /*connector not needed before the first step*/
                    content: none;
                }
                /*marking active/completed steps green*/
                /*The number of the step and the connector before it = green*/

                #progressbar li.active:before,
                #progressbar li.active:after {
                    background: #27AE60;
                    color: white;
                }
    </style>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!-- <h1 class="m-0">Create /Request Indent</h1> -->
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Vender Mapping</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form action="/Administrator/EmployeeRegistrationSave" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">View Vender Mapping</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->


                
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-three-tabContent">
                                <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                              

                                    <fieldset>
                                        <h1 class=" panel panel-heading page-success text-danger">Employee  Details</h1>
                                        <h3 class="text-success text-center">(STEP 1)</h3>

                                        <div class="row ">


                                                <div class="col-md-12"  >
                                                    <asp:label>Employee Code </asp:label>
                                                    <div class="form-group">

                                                        <input name="ID" value="@(Model != null ? Model.ID : "") " type="text" class="form-control" placeholder="Enter Name" />
                                                    </div>
                                                </div>



                                                <div class="col-md-12">
                                                    <asp:label>Employee Name </asp:label>
                                                    <div class="form-group">

                                                        <input name="step1_Empolyee_Code" value="@(Model != null ? Model.step1_Empolyee_Code : "") " type="text" class="form-control" placeholder="Enter Name" />
                                                    </div>
                                                </div>



                                            <div class="col-md-12">
                                                <asp:label>Employee Sub group</asp:label>
                                                <div class="form-group">

                                                        <input name="step1_txt_name" value="@(Model != null ? Model.step1_txt_name : "") " type="text" class="form-control" placeholder="Enter Name" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                        <asp:label>Employee Status</asp:label>

                                                <select class="form-control dropdown" id="inputEmail3"  placeholder="Enter Budget">
                                                    <option Selected="True" Value="0">Select</option>
                                                    <option Value="Active">Active</option>
                                                    <option Value="InActive">InActive</option>


                                                </select>
                                            </div>
                                            </div>


                                         



                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                        <asp:label>Department</asp:label>
                                                        <input name="step1_txt_father" id="step1_txt_father" value="@(Model != null ? Model.step1_txt_father : "") " class="form-control" type="text" >

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <asp:label>Email Id</asp:label>
                                                        <input name="step1_txt_mother" id="step1_txt_mother" value="@(Model != null ? Model.step1_txt_mother : "") " class="form-control" type="text" >

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <asp:label>Contact No</asp:label>
                                                <input name="step1_txt_mother" id="step1_txt_mother" value="@(Model != null ? Model.step1_txt_mother : "") " class="form-control" type="number" >

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                        <asp:label>VERTICAL</asp:label>
                                                        <input name="step1_text_postcode" id="step1_text_postcode" value="@(Model != null ? Model.step1_text_postcode : "") " class="form-control" type="text" readonly >

                                                </div>
                                            </div>

                                        </div>




                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <asp:label> HODD</asp:label>
                                                <input name="step1_txt_hometel" type="number" id="step1_txt_hometel" value="@(Model != null ? Model.step1_txt_hometel : "") " class="form-control"  readonly>

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                        <asp:label>REPOR</asp:label>
                                                        <input name="step1_txt_mobilenumber" id="step1_txt_mobilenumber" value="@(Model != null ? Model.step1_txt_mobilenumber : "") " class="form-control" type="text"  readonly>

                                                </div>
                                            </div>

                                        </div>







                                    </fieldset>


                                </div>
                               


                            </div>
                        </div>

                  
              


               <div class="card-footer">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
            </div>


            </form>
        </div><!-- /.container-fluid -->
    </section>



    <!-- Table Forms -->

    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View User Rights</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form  class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                            <thead>

                                <tr>
                                    <th>Action</th>
                                    <th> ID</th>
                                    <th> PersonalID</th>

                                   <th> Name</th>
                                   <th> DOB</th>
                                    <th> Gender</th>
                                   <th> Father name</th>
                                   <th> Mother Name</th>
                                   <th> Home Address</th>
                                   <th> Post Code</th>
                                   <th> Home Tel</th>
                                   <th> Mobile</th>
                                  
                            
                                   <th> Bank Name</th>
                                   <th> Account Number</th>
                                   <th> IFSC  CODE</th>
                                   <th> Branch Address</th>
                                  
                                  


                                </tr>

                            </thead>
                            <tbody>



                                
                                @if (ViewData["EmployeeRegistrationGrid"] != null)
                                 {
                                    @foreach (var data in ViewData["EmployeeRegistrationGrid"] as IList<NEmp_Detail>)
                                    {
                                     <tr>

                                    <td>


                                                <button class="badge bg-success btn btn-sm"><a class="fa fa-edit" href="/Administrator/EmployeeRegistrationEdit/@data.ID.ToString(),Edit"></a></button><br>
                                                <button class="badge bg-danger btn btn-sm"><a class="fa fa-trash" href="/Administrator/EmployeeRegistrationEdit/@data.ID.ToString(),DEL"></a></button><br>
                                           @*     <button class="badge bg-info btn btn-sm"><a target="_self" class="fa fa-file" href="/Administrator/EmployeeRegistrationEdit/@data.ID.ToString()"></a></button>*@

                                     

                                    </td>
                                    <td> @data.ID</td>
                                    <td> @data.PersonalID</td>
                                      
                                    <td> @data.Name</td>
                                    <td> @data.DOB</td>
                                    <td> @data.Gender</td>
                                    <td> @data.Father_name</td>
                                    <td> @data.Mother_Name</td>
                                    <td> @data.Home_address</td>
                                    <td> @data.Post_code</td>
                                    <td> @data.Home_tel</td>
                                    <td> @data.Mobile</td>
                                    
                                    <td> @data.BankName</td>
                                    <td> @data.AccountNumber</td>
                                    <td> @data.IFsc_code</td>
                                    <td> @data.Branch_address</td>

                                    </tr>
                                        
                                    }
                                }

@*
                                @foreach (var data in  ViewData["GridData"] as IList<UspCapexSelVendorMasterResult>)
                                {

                                    <tr>

                                        <td>
                                            <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/Edit/@data.Id"></a></button><br>
                                            <button disabled="" class="badge bg-danger btn btn-sm" name="3594"><a class="fa fa-trash"></a></button><br >
                                            <button disabled=""  class="badge bg-info btn btn-sm" name="3594"><a target="_self" class="fa fa-file" href="/viewPo/3594"></a></button>
                                        </td>
                                        <td>@data.Id</td>
                                        <td>@data.Vendor_Code</td>
                                        <td>@data.CompanyCode</td>
                                        <td>@data.Firm_Name</td>
                                        <td>@data.Firm_Contact_Number</td>

                                        <td>@data.Firm_Email_Address</td>
                                        <td>@data.City</td>






                                    </tr>
                                }*@

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>








            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- End Table Forms -->
    <!-- /.content -->
</div>

@*@Html.Raw(ViewBag.Message)*@


@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>



        $('#texamplabl').DataTable({
            searching: true,
            paging: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });




              
         //jQuery time
    (function ($) {
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')'
                    });
                    next_fs.css({
                        'left': left,
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'left': left
                    });
                    previous_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

    })(jQuery);




    </script>
}






