@using static DataModels.CapExTSDBStoredProcedures;
@model CapExTSVS.Models1.UspCapexSelVendorMasterResultCustom;

@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @* <h1 class="m-0">Create /Request Indent</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Company /BU</li>*@
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card  card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Indent Mapping</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">EMP Code </label>
                            <div class="col-sm-10">


                                <input type="text" class="form-control" name="CapexType">


                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">EMP Name </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="CapexType" placeholder="Enter Company Description">

                            </div>
                        </div>

                        <br />



                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Company <span style="color:red"> *</span></label>
                            <div class="col-sm-10">

                              

                                <select class="form-control dropdown" id="inputEmail3" name="Comp_code" placeholder="Enter Budget" onchange="Dropdownchange(this.value)">
                                    <option Selected="True" Value="0">Select</option>
                                    @if (ViewData["CapexbindddlCompany"] != null)
                                    {
                                        @foreach (var da in ViewData["CapexbindddlCompany"] as IList<CapexSelddlResult>)
                                        {
                                            <option Value="@da.CODE">@da.DES</option>

                                        }
                                    }
                                    @*<option Value="Budgeted">Capex</option>
                                    <option Value="NonBudgeted">Opex</option>*@


                                </select>



                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">BU  </label>
                            <div class="col-sm-10">
                              
                                <select class="form-control dropdown" id="BU"  name="Comp_code" placeholder="Enter Budget" >
                                    <option Selected="True" Value="0">Select</option>
                                    </select>
                              @*  <input type="text" class="form-control" name="CapexType">
*@

                            </div>
                        </div>


                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Approval :1  </label>
                            <div class="col-sm-10">


                                <input type="text" class="form-control" name="CapexType">


                            </div>
                        </div>



                        <br />
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Approval :2 </label>
                            <div class="col-sm-10">


                                <input type="text" class="form-control" name="CapexType">


                            </div>
                        </div>



                        












                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="submit" class="btn btn-default float-right">Cancel</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <!-- Table Forms -->

    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title"> View Indent Mapping</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/Administrator/IndentSavingMapping" method="post" class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Personal ID</th>
                                    <th>Employee Name</th>

                                    <th>Employee Subgroup</th>
                                    <th>Department</th>
                                 

                                </tr>

                            </thead>
                            <tbody>

                                @if (ViewData["IndentMappingGrid"] != null)
                                {
                                    @foreach (var data in ViewData["IndentMappingGrid"] as IList<CapexSelEmployeeMasterResult>)
                                    {
                                        <tr>


                                            <td>
                                                <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/IndentEditDataMapping/@data.PersonalID.ToString()"></a></button><br>
                                                <button disabled="" class="badge bg-danger btn btn-sm" name="3594"><a class="fa fa-trash"></a></button><br>
                                                <button disabled="" class="badge bg-info btn btn-sm" name="3594"><a target="_self" class="fa fa-file"></a></button>
                                            </td>
                                            <td>@data.PersonalID</td>
                                            <td>@data.EmployeeName</td>

                                            <td>@data.EmployeeSubgroup</td>
                                            <td>@data.Department </td>


                                            

                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- End Table Forms -->
    <!-- /.content -->
</div>

<script>

    $('#exampla').dataTable({

    });


    function Dropdownchange(value) {

        $.ajax({
            type: "GET",
            url: "\CapexBindddlProject\?id=" + value,
            success: function (data) {
                console.log(data)
                var $el = $("#BU");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", value.indID).text(key.bu));


                });

            }
        })

        //ddlProjectt.DataValueField = "IndID";
        //ddlProjectt.DataTextField = "BU";


    }
</script>




