@using static DataModels.CapExTSDBStoredProcedures;


@model CapExTSVS.Models1.NFAMappingEdit;



@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">View Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    @*  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">View Indent </li>
                    </ol>*@
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title"> View company</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                <div class="card-body">

                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">CTID</th>
                                    <th scope="col">CapexType</th>
                                    <th scope="col">Comp_code</th>
                                    <th scope="col">Des</th>
                                    <th scope="col">BU</th>
                                    <th scope="col">ReqType</th>
                                    <th scope="col">BudgetType</th>
                                </tr>

                            </thead>
                            <tbody>

                                @if (ViewData["NFAMappingGrid1"] != null)
                                {
                                    @foreach (var da in ViewData["NFAMappingGrid1"] as IList<UspCapexCapexTypeMappingResult>)
                                    {
                                        <tr>

                                            <td scope="col"> <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/NFAMappingEditSetect/@da.CTID"></a></button><br></td>
                                            <td scope="col">@da.CTID</td>
                                            <td scope="col">@da.CapexType</td>
                                            <td scope="col">@da.Comp_code</td>
                                            <td scope="col">@da.Des</td>
                                            <td scope="col">@da.BU</td>
                                            <td scope="col">@da.ReqType</td>
                                            <td scope="col">@da.BudgetType</td>



                                        </tr>
                                    }

                                }

                            </tbody>

                        </table>

                    </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>


    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View company</h3>
                </div>

                </br>

                <section class="content">
                    <div class="container-fluid">
                        <div class="card ">
                          
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="/Administrator/UserRightsSearch" method="post" class="form-horizontal">
                                <div class="card-body">
                                    <div class="form-group row">
                                       
                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Id:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_capexId : "") " name="F_capexId">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Type:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_capexType : "") " name="F_capexType">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Amount F:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_AccountF : "") " name="F_AccountF">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Amount To:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_AccountTo : "") " name="F_AccountTo">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Dept_1:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Dep_1 : "") " name="F_Dep_1">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Dept_2:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Dep_2 : "") " name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 3:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Fin_3 : "") " name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 4:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Fin_4 : "") " name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 5:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Fin_5 : "") " name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 6:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Fin_6 : "") " name="Data" />


                                        </div>
                                    </div>


                                    <div class="form-group row">

                                     

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Remark:  </label>

                                            <input type="text" class="form-control" value="@(Model != null ? Model.F_Remark : "") " name="Data">


                                        </div>
                                    </div>


                                    <!-- /.card-body -->
                                    @*<div class="card-footer">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                                    </div>*@
                                    <!-- /.card-footer -->
                            </form>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>



                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla2" class="table  table-bordered table-striped table-responsive">
                            <thead>

                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">CPACID</th>
                                    <th scope="col">CapexID</th>
                                    <th scope="col">CapexType</th>
                                    <th scope="col">AmountForm</th>
                                    <th scope="col">AmountTo</th>
                                    <th scope="col">Dept_1</th>
                                    <th scope="col">Dept_2</th>
                                    <th scope="col">Fin_3</th>
                                    <th scope="col">Fin_4</th>
                                    <th scope="col">Fin_5</th>
                                    <th scope="col">MD_6</th>
                                </tr>
                              

                               @* <tr >
                                    <th scope="col">Update</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">CapexID</th>
                                    <th scope="col">EMPCode</th>
                                    <th scope="col">App_1</th>
                                    <th scope="col">App_2</th>
                                    <th scope="col">App_3</th>
                                    <th scope="col">App_4</th>
                                    <th scope="col">App_5</th>
                                    <th scope="col">App_6</th>
                                </tr>*@


      

                            </thead>
                            <tbody>


                                @if (ViewData["UspCapexPayApprovalCatEmpMapping"] != null)
                                {
                                    @foreach (var da in ViewData["UspCapexPayApprovalCatEmpMapping"] as IList<UspCapexPayApprovalCatEmpMappingResult>)
                                    {

                                            <tr>
                                            <td> <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/NFAMappingEditSetect3/@da.CapexID"></a></button></td>


                                           
                                            <td>Update</td>
                                            <td>@da.CPACID</td>
                                            <td>@da.CapexID</td>
                                            <td>@da.CapexType</td>
                                            <td>@da.AmountForm</td>
                                            <td>@da.AmountTo</td>
                                            <td>@da.Dept_1</td>
                                            <td>@da.Dept_2</td>
                                            <td>@da.Fin_3</td>
                                            <td>@da.Fin_4</td>
                                            <td>@da.Fin_5</td>
                                            <td>@da.MD_6</td>
                                            
                                            
                                          </tr>


                                    }
                                }




                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View company</h3>
                </div>

                </br>

                <section class="content">
                    <div class="container-fluid">
                        <div class="card ">

                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="/Administrator/UserRightsSearch" method="post" class="form-horizontal">
                                <div class="card-body">
                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Id:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Capex Type:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">EMP ID:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">DEP 1:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">DEP 2:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 3:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 4:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fin 5:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-6 ">

                                            <label for="inputEmail3" class="col-sm-2 col-form-label">MD 6:  </label>

                                            <input type="text" class="form-control" name="Data">


                                        </div>

                                     
                                    </div>


                                 

                                    <!-- /.card-body -->
                                  <div class="card-footer">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                                    </div>
                                    <!-- /.card-footer -->
                            </form>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>



                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla2" class="table  table-bordered table-striped table-responsive">
                            <thead>

                              


                                <tr >
                                    <th scope="col">Update</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">CapexID</th>
                                    <th scope="col">EMPCode</th>
                                    <th scope="col">App_1</th>
                                    <th scope="col">App_2</th>
                                    <th scope="col">App_3</th>
                                    <th scope="col">App_4</th>
                                    <th scope="col">App_5</th>
                                    <th scope="col">App_6</th>
                                </tr>


                            </thead>
                            <tbody>

                                @if (ViewData["UspCapexPayApprovalCatEmpMapping3"] != null)
                                {
                                    @foreach (var da in ViewData["UspCapexPayApprovalCatEmpMapping3"] as IList<UspCapexPayApprovalCatEmpMappingResult_2>)
                                    {

                                        <tr>
                                            <td> <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/NFAMappingEditSetect3/@da.CapexID"></a></button></td>



                                            <td>@da.ID</td>
                                            <td>@da.CapexID</td>
                                            <td>@da.EMPCode</td>
                                            <td>@da.App_1</td>
                                            <td>@da.App_2</td>
                                            <td>@da.App_3</td>
                                            <td>@da.App_4</td>
                                            <td>@da.App_5</td>
                                            <td>@da.App_6</td>
                                           @* <td>@da.Fin_5</td>
                                            <td>@da.MD_6</td>*@


                                        </tr>
                                    }
                                }
                              

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>


</div>

<script>

    $('#exampla').dataTable({

    });
    $('#exampla2').dataTable({

    });
    
</script>