@using static DataModels.CapExTSDBStoredProcedures;
@model CapExTSVS.Models1.userRights;

@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
     

}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!-- <h1 class="m-0">Create /Request Indent</h1> -->
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create /User Rights</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->



     <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Create User Rights</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/Administrator/UserRightsSearch" method="post" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Search EMP ID  </label>
                            <div class="col-sm-10 ">


                                <input type="text" class="form-control"  name="Data"><button type="submit" class="btn btn-info">Search</button>


                            </div>
                        </div>
                     



                     
                        <!-- /.card-body -->
                        @*<div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="submit" class="btn btn-default float-right">Cancel</button>
                        </div>*@
                        <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <br />

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Create User Rights</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/Administrator/UserRightsSave" method="post" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">EMP Code  </label>
                            <div class="col-sm-10">


                                <input type="text" class="form-control" value="@(Model != null ? Model.UserCode : "")" name="UserCode" readonly>


                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">EMP Name </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Username" value="@(Model != null ? Model.Username : "")" placeholder="Enter Company Description" required>

                            </div>
                        </div>

                        <br />



                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Rights <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                                <select class="form-control dropdown" Value="@(Model != null ? Model.Rights : "")" name="Rights" id="inputEmail3" placeholder="Enter Exp Type ">
                                   
                                    <option Selected="True"  Value="0">Select</option>
                                    
                                     
                                    @foreach (var da in ViewData["UserRights"]  as IList<CapexSelRightsListResult>)
                                        {
                                    <option Value="@da.Rid">@da.RName</option>
                                  
                                        }

                                </select>
                            </div>












                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="submit" class="btn btn-default float-right">Cancel</button>
                        </div>
                        <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <!-- Table Forms -->

    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"> View User Rights</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body">


                        <table id="exampla" class="table  table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                   
                                    <th>EMP Code </th>

                                    <th>EMP Name</th>
                                    <th>Rights </th>

                                </tr>

                            </thead>
                            <tbody>
                              @*  <% if (ViewData["roots"] != null) {%>*@
                                @if(ViewData["UserRightGrid"]!=null)
                                {

                               
                                
                                @foreach (var da in ViewData["UserRightGrid"] as IQueryable<CapexSelUserRightsResult>)
                                        {
                                <tr>
                                    <td>
                                        <button class="badge bg-success btn btn-sm" name="3594"><a class="fa fa-edit" href="/Administrator/Edit/"></a></button><br>
                                        <button disabled="" class="badge bg-danger btn btn-sm" name="3594"><a class="fa fa-trash"></a></button><br>
                                        <button disabled="" class="badge bg-info btn btn-sm" name="3594"><a target="_self" class="fa fa-file" href="/viewPo/3594"></a></button>
                                    </td>
                                        
                                        <td>@da.EmployeeId</td>
                                        <td>@da.EmployeeName</td>
                                        <td>@da.RightName</td>


                                </tr>
                                }
                                }

                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- End Table Forms -->
    <!-- /.content -->
</div>


<script>

    $('#exampla').dataTable({

    });
</script>




